* {border:none; }
body {background:#eeebdd ; color:#666; }

/* Links -----------------------------------------------------------------------*/
a:hover {color: #333; }
.imgleft {border:1px solid #d7d3c3; }
.imgleft2 {border:1px solid #d7d3c3; }
.imgright {border:1px solid #d7d3c3; }
.imgleft_n {float:left; margin:0 40px 12px 0; }
 
.gravatar {border:2px solid #999; background:url(../images/gravtar.png) no-repeat; }
.imgnot_available {border:1px solid #d7d3c3; color:#c0bfbf; }
.imgnot_available2 {border:1px solid #d7d3c3; color:#c0bfbf; }

/* STRUCTURE ----------------------------------*/
#topnav {background:#523d0a; }
#bottom {background:#e9e6d8; border-top:2px solid #d7d3c3; }
#footer {background:#523d0a; border-top:4px solid #787878; }

/*  Headings ----------------------------------*/
h1 {color: #000; }
h1 a, h3 a {border-bottom:none; }
h2 {color: #546575; }
h2 a {color: #330033; }
h3 {color:#666; }
h4 {color:#444; }
h5 {color:#444; }
h6 {color: #000; border-bottom:4px solid #e3e3e3; }

/* top nav  ----------------------------------*/
#topnav-in p {color:#fff; }
#topnav-in p a {color:#fff; }

#topnav-in p span a {color:#fff; }
#topnav-in p span a:hover {color:#fff; }

#topnav-in p a:hover {color:#fff; }

#topnav-in li {color:#fff; }
#topnav-in li a {color:#fff; background:#523d0a; }
#topnav-in li.current-menu-item a, #topnav-in li a:hover, #topnav-in li.current_page_item a { color:#fff; background:#251b04;  } 


/* Header  ----------------------------------*/ 
#header-in .logo-text {color:#add352; }
#header-in .logo-text a {color:#cd7504; }
#header-in .logo-text a:hover {color:#333; }

#header-in .logoin-text {color:#000; }
#header-in .logoin-text a {color:#cd7504; }
#header-in .logoin-text a:hover {color:#333; }
#header-in .description {color:#666; }
#header-in .description-in {color:#666; }
 
/* TOP SEARCH FORM -----------------------------------------------------------------------*/
#search_index {background:url(2-brown/searchbg.png) no-repeat; }
#search_index .s {border:none; background:none; color: #666; }
#search_index .sgo {background:url(2-brown/b_go.png) no-repeat; }
#search_index .sgo:hover {background-position:0 -39px; }
*+html #search_index .sgo {margin-top:-38px; }

/* TOP SEARCH FORM  inner page  -----------------------------------------------------------------------*/
#search {background:#eee url(2-brown/searchbg2.png) no-repeat; }
#search .s {border:none; background:none; color: #666; }
#search .sgo {background:url(2-brown/b_go2.png) no-repeat; }
#search .sgo:hover {background-position:0 -31px; }
.search404 {background:url(2-brown/searchbg2.png) no-repeat; }
.search404 .s {border:none; background:none; color: #666; }
.search404 .sgo {background:url(2-brown/b_go2.png) no-repeat; }
.search404 .sgo:hover {background-position:0 -31px; }

/* breadcrumb start -----------------------------------------------------------------------*/ 
.breadcrumb2 {border-top:1px solid #D7D3C3; border-bottom:1px dotted #D7D3C3; background:#eeebdd; }
.breadcrumb2 a {color:#333 !important; }
.breadcrumb2 a:hover {color:#cd7504 !important; }

/* TOP category -----------------------------------------------------------------------*/
#category h3 {border-top:none; background:#eeebdd; color:#000; }
#category .ctitle {background:url(2-brown/titleline.png) repeat-x center; }
#category li {background:url(2-brown/bullet3.png) no-repeat 0 12px; color:#333; }
#category li a {color:#333; }
#category li a:hover {color:#cd7504; }

/* Content start -----------------------------------------------------------------------*/
#content p.time, #banner .classified p.time {color:#777; }
.i_clock {background:url(2-brown/i_clock.png) no-repeat 0 5px; }
.i_comments {background:url(2-brown/i_comments.png) no-repeat 0 5px; }

/* Content  ----------------------------------*/
.photo img {border:1px solid #d7d3c3; }
#content .pdescriptions {border-top:3px solid #d7d3c3; }
.pcontactinfo {background:#fff; border-top:3px solid #d7d3c3; border-bottom:3px solid #d7d3c3; }
#content .pdescriptions h3, .pcontactinfo h3 {color:#2c2a2a; border-bottom:1px solid #d7d3c3; }
.pcontactinfo h3 {border-bottom:1px dotted #000; }

.pcontactinfo h4 a {border-bottom:none; }

.pcontactinfo a {color:#333; border-bottom:1px dotted #444; }
.pcontactinfo a:hover {color:#cd7504; border-bottom:none; }


#content .pcontactinfo p,  .pcontactinfo p {color:#444; border-bottom:1px solid #d7d3c3; }

.i_mail2 {background:url(../images/mail_back.gif) no-repeat left 9px; }
.i_phone {background:url(../images/phone.gif) no-repeat left 3px; }
.i_map {background:url(../images/maps.png) no-repeat left 8px; }
.i_website {background:url(../images/icon_world.gif) no-repeat left 7px; }
.i_tags {background:url(../images/tag.png) no-repeat left 3px; }

.i_mail3 {background:url(../images/email.png) no-repeat left 2px; }
.i_print {background:url(../images/print.png) no-repeat left 2px; }

.post_preview {background:#fffdd1; border-top:1px solid #e7e491; border-bottom:1px solid #e7e491; }
.post_preview h3 {color:#000; }
.post_preview_in {background:#f2f0be; }

#content .post_preview .b_continue {background:#697f22; color:#fff; }
#content .post_preview .b_continue:hover {background:#495a15; color:#fff; }

#content .post_preview .back {color:#900; border-bottom:1px dotted #d7d3c3; background:none; }
#content .post_preview .back:hover {color:#000; } 

#content .payment_section .table td {color:#666; border-bottom:1px solid #d7d3c3; }
#content .payment_section .table td.title {color:#000; border-top:2px solid #d7d3c3; border-bottom:1px solid #d7d3c3; }
#content .payment_section .table td.total {color:#000; border-bottom:2px solid #d7d3c3; border-top:1px solid #d7d3c3; background:#fff; }

#content .bnone {border:none !important; }
#content .listings  {border-bottom:1px solid #d7d3c3; }
#sidebar .listings {border-bottom:1px solid #d7d3c3; }
#content .listings h1, #sidebar .listings h1 {color: #000; }
#content .listings h2 {color:#555; }
#content .listings h2 a {color: #555; }
#content .listings h2 a:hover {color: #cd7504; }
#content h4.dash_title  {border-bottom:1px dotted #d7d3c3; }
#content h4.dash_title span {color:#333; }
#content h4.dash_title span a {border-bottom:1px dotted #d7d3c3; color:#444; }
#content h4.dash_title span a:hover {color:#cd7504; }

#content .listings p {color:#333; }
.active {color:#090; }
.expired {color:#cd7504; }

#content .listings h2 a.edit {color:#666; border-bottom:1px dotted #666; }
#content .listings h2 a:hover.edit  {color:#000; }
#sidebar .listings h3 {border:none; }

.red {color:#cd7504; }
#content .listings span {color:#777; }
#content .listings p.time {color:#777; }
#content .listings p.time_blog {color:#777; }


#content p {color:#666; }
#content p a, #banner .classified p a {border-bottom:1px dotted #879baf; color:#555; }
#content p a:hover, #banner .classified p a:hover {border-bottom:none; color: #cd7504; }
#content a {color:#333; border-bottom:none; }
#content a:hover {color:#cd7504; }
#content ol li {background:none; }
#content blockquote {background:#f7f7f7; background-position:8px 5px; color:#666; border-top:2px dotted #d7d3c3; border-bottom:1px dotted #d7d3c3; }
#content blockquote p {color:#666; }
#pagenavi {border-top:1px dashed #d7d3c3; border-bottom:1px dashed #d7d3c3; }
#content p.i_previous {background:url(2-brown/arrow-left.gif) no-repeat 0 3px; }
#content p.i_next {background:url(2-brown/arrow-right.gif) no-repeat right 5px; }

/*post css start ----------------------------------*/
.category {border-right:1px solid #eee; }
#content .category a, #content .archives a {color:#666; }
#content .category a:hover, #content .archives a:hover {color:#333; }
#content .post_top {background:url(2-brown/sepretor_hr.png) repeat-x bottom; }
#content .post_top a {color:#f60; }
#content .post_top a:hover {color:#333; border-bottom:none; }
#content .post_bottom {border-top:1px dotted #d7d3c3; border-bottom:2px dotted #d7d3c3; }
#content .post_bottom a {color:#000; border-bottom:1px dotted #666; }
#content .post_bottom a:hover {color:#cd7504; border-bottom:none; }

/* 	Previous/Next Page Navigation ----------------------------------*/
.page-nav a {border-bottom:none; }
.nav-previous a {background:url(2-brown/arrow-left.gif) no-repeat left; }
.nav-next a {background:url(2-brown/arrow-right.gif) no-repeat right; border-bottom:none; }
 

/*---------COMMENTS --------- */
#comments_wrap h3{border-bottom:1px dotted #d7d3c3; }
#comments_wrap .comment {background:none; }
#comments_wrap  p.authorcomment a {color:#666; }
#comments_wrap  p.authorcomment a:hover {color:#000; }

#comments_wrap .comment .meta-left {color:#aaaaaa }
#comments_wrap .comment .text-right {border:none; background:#eeebdd; }
#comments_wrap .comment .authcomment{background:#ded8bc url(2-brown/commentbg_author.png) no-repeat left center; border:none; }
#comments_wrap .comment .authcomment p {color:#333; margin:0; padding:0; }

span.comm-reply{color:#333; }
span.comm-reply a {color:#333; }
span.comm-reply a:hover{color:#000; }
#respond textarea, .commpadd input{background:none; border:1px solid #d7d3c3; }
#respond textarea:hover, .commpadd input:hover, .commpadd input:focus, #respond textarea:focus {background:#fff; }

input#submit{color:#fff; background:#000; }
.avatar {border:2px solid #c6c6c6; }


/*Page navigatoin 2 ----------------------------- */
#content .wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {color: #333; background-color:#d7d3c3; }
#content .wp-pagenavi a:hover {color: #fff; background-color: #333; }
#content .wp-pagenavi span.pages {background-color: #d7d7d7; color:#000; }
#content .wp-pagenavi .on {color: #fff; background:#cd7504; }
#content .wp-pagenavi span.extend {color: #333; background-color: #d7d7d7; }

/*widget calendar css =================================================== */
#calendar_wrap caption {background:#ddd; color:#333; }

.flickr_badge_image img {border:1px solid #d7d3c3; }
a.twitter {background:url(2-brown/twitter2.png) no-repeat left 8px; color:#000; }
a:hover.twitter {color:#cd7504; }
#bottom a.twitter {background:url(2-brown/twitter2.png) no-repeat left 8px; }

/* widget search css ===================================================  */	
#sidebar_l input, #sidebar_r input {color:#666; border:1px solid #d7d3c3; }
#sidebar h3 {color:#2c2a2a; border-bottom:1px solid #d7d3c3; border-top:3px solid #d7d3c3; }
#sidebar p {color:#666; }
#sidebar a {color:#777; }
#sidebar a:hover  {color:#cd7504; }
#sidebar ul li ul li a:hover {color:#cd7504; }
#sidebar ul li ul li ul li a:hover {color:#cd7504; }

/* Home v2  ----------------------------------*/
#banner .advt_banner_index {background:#e9e6d8 url(2-brown/adv_banner2.png) no-repeat; }
#banner .advt_banner_index_bg2 {background:#e9e6d8 url(2-brown/adv_banner3.png) no-repeat; }

#banner .classified {background:url(2-brown/latestclassicfied.png) no-repeat;  }
#banner .classified2 {background:#eeebdd; border:1px solid #d7d3c3; }
#banner .advt_banner_index h2, #banner .classified h2 {color:#000; }

#banner .classified h3 {color:#555; }
#banner .classified h3 a {color:#666; }
#banner .classified h3 a:hover {color: #000; }
#banner .listings {border-bottom:1px solid #d7d3c3; }
#banner .advt_banner_index .bsignup a {background:url(2-brown/b_signup.png) no-repeat; }
#banner .advt_banner_index .bsignup a:hover {background-position:0 -24px; }
#banner .advt_banner_index p, #banner .classified p {color:#666; }

/* bottom ---------------------------------- */
#bottom-in .border {border-right:1px solid #d7d3c3; }
#bottom-in .fsingle h3, #bottom-in .subscribe h3 {color:#000; border-bottom:1px dotted #000; border-top:none; }
#bottom-in .fsingle p, #bottom-in .advt_banner p, #bottom-in .subscribe p {color:#666; }
#bottom-in .fsingle p a, #bottom-in .advt_banner p a, #bottom-in .subscribe p a {color:#666; border-bottom:1px dotted #666; }
#bottom-in .subscribe p a {border-bottom:none; }
#bottom-in .fsingle p a:hover, #bottom-in .advt_banner p a:hover, #bottom-in .subscribe a:hover {color:#333; }
#bottom-in .postlist li {background:url(2-brown/bullet1.png) no-repeat 0 10px; color:#666; }
#bottom-in .postlist li a {color:#666; }
#bottom-in .postlist li a:hover {color:#333; }
#bottom-in .advt_banner {background:url(2-brown/advertise_banner.png) no-repeat; }
#bottom-in .bsignup a {background:url(2-brown/b_signup.png) no-repeat; }
#bottom-in .bsignup a:hover {background-position:0 -24px; }

/*subscribe css ------------------------ */ 
#bottom-in .subscribe_textield {border:1px solid #cbcbcb; background:#fff; color:#333; }
.i_rss {background:url(../images/i_rss.png) no-repeat left 0px; }
#bottom-in .subscribe p.i_email {background:url(../images/i_mail.png) no-repeat left 2px; }
#bottom-in .bsubscribe {background:url(2-brown/b_subscribe.png) no-repeat; }
#bottom-in .bsubscribe:hover {background-position:0 -22px; }

/* footer ---------------------------------- */
#footer p {color:#d9d9d9; }
#footer span {color:#a3a2a2; }
#footer span a {color:#a3a2a2; }
#footer span a:hover {color:#fff; }
#footer a {color: #fff; }
#footer a:hover {color: #ccc; }
#flinks li {color:#c55e76; }
#flinks li a {color:#c2c2c2; }
#flinks li a:hover {color:#fff; }
.feature_post {background-color:#EBF0E8; }

.edit_profile_form .textfield, .textbox {border:1px solid #d7d3c3; color:#000; }
.indicates {color:#cd7504; }

.normal_button, #content .normal_button  {background:#000; border:none; color:#fff; }
.normal_button:focus, #content .normal_button:focus {background:#cd7504; }
.normal_button:hover, #content .normal_button:hover {background:#cd7504; color:#fff; }

.addnew, #content .addnew  {border:none; background:none; color:#000; }
.addnew:focus, #content .addnew:focus {background:none;color:#cd7504; }
.addnew:hover, #content .addnew:hover {background:none; color:#cd7504; }

.featured_ads_price {border-top:1px dotted #d7d3c3; }
.extra_price {color:#090; }
.spacer_border {border-right:1px solid #eee; }
.post_navigation span {background:#d7d7d7; color:#000; }

.create_post_row .select {border:1px solid #d7d3c3; color:#000; } 
.create_post_row .textfield {border:1px solid #d7d3c3; color:#000; } 
.create_post_row .textarea {border:1px solid #d7d3c3; } 

.create_post_row .error {border:2px solid #cd7504; }
.message_error { color:#cd7504;  }
.message_error2 { color:#cd7504;  }

#content .form h5  { color:#000; }

.login_form { background:#fff; border:1px solid #d7d3c3; }
.form_row .textfield {border:1px solid #d7d3c3; color:#000; } 
.login_form a {color:#333; border-bottom:1px dotted #444; }
.login_form a:hover {color:#cd7504; } 

.lostpassword_form .textfield {border:1px solid #d7d3c3; color:#000; } 
.registration_col { background:#fff; border:1px solid #d7d3c3;  }

.reg_row .error {border:2px solid #cd7504 !important; }
.reg_row .reg_row_textfield {border:1px solid #d7d3c3; color:#000; }
.error_msg { background:#FFB7B7; color:#990000; border-top:1px solid #990000; border-bottom:1px solid #990000; }
 .zoom  a {background:url(2-brown/zoom.png) no-repeat; }

/* inquiry form popup -------------------*/
#info {background:#fff; border:4px solid #c8c8c8; }
#info a {color:#000; }
.more:hover {color:#000; }
.clear {clear:both; }
.close {color:#000; }

.mm {background:#fff; border:5px solid #d7d3c3; }

#banner .index_left .category_list_index li {color:#333; }
#banner .index_left .category_list_index li ul li {color:#333; background:#ccc; }

a.b_sendinquiry {background:url(2-brown/b_sendinquiry.png) no-repeat left top; border-bottom:none; }
a:hover.b_sendinquiry {background-position:0 -26px; }


/* profile page form ---------------- */
.post_navigation a {background:#d7d3c3; color:#000; }
.post_navigation a:hover {background:#d7d3c3; color:#cd7504; }

.error {border:2px solid #cd7504 !important; }

#header-in .b_classified {background:url(2-brown/b_classified_r.png) no-repeat; }
#header-in .b_classified a {background:url(2-brown/b_classified_l.png) no-repeat; color:#fff; }
#header-in .b_classified:hover {background:url(2-brown/b_classified_r.png) no-repeat 0 -34px !important; }
#header-in .b_classified a:hover {background-position:0 -34px !important; }