.footer2{margin:20px auto;padding:5px 0 25px 0;width:758px}

.contentbodywrap{float:left;}
.frame {float:left;}
#content3b_fold{background-image:url("../images/greyfold.png"); background-repeat:no-repeat; height:60px; position:relative; width:320px; z-index:3; top:0px; margin-top:-638px}

.zlide{float:left;position:relative;margin-top:-25px}
.top-header_rt_nav{width: 515px;left: -65px;}

.maincontent_d {margin: -20px 10px 0;}