/* Main Menu */

#menu-main {
	background: #2f3133 url(../images/back-menu-black.png) repeat-x top left;
	border-top-color: #3f4142;
}

#menu-main .current-menu-item a,
#menu-main a:hover, 
#menu-main a:active {
	color: #f5d876;
} 

#menu-main .current-menu-item li a {
	color: #aaa;
}

#menu-main li {
	border-bottom-color: #3f4142;
}

#menu-main a {
	color: #fff;
}

#menu-main .dropdown li:hover ul,
#menu-main .dropdown .sfHover ul {
	border-top-color: #3f4142;
}

#menu-main .dropdown li:hover li ul,
#menu-main .dropdown .sfHover li ul {
	border-top-color: #3f4142;
}

div.navigation .current { background-color: #3f4142; }
div.navigation a:hover {
	background-color: #3f4142; 
	color: #fff;
}

/* Footer Contact Info */

#content div.wrapper {
	border-bottom-color: #3f4142;
}

.wrapper-footer-contacts {
	background: #2f3133 url(../images/back-menu-black.png) repeat-x top left;
}

.footer-additional a {
	color: #f5d876;
}

.footer-additional a:hover {
	color: #fff;
}

#menu-main .toggle_mobile_menu { 
	background: transparent url(../images/icon-lines-black.png) no-repeat top left; 
}

/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {

	#menu-main .current-menu-item li a {
		color: #fff;
	}
}