/* Main Menu */

#menu-main {
	background: #00a8c6 url(../images/back-menu-blue2.png) repeat-x top left;
	border-top-color: #1a9fb7;
}

#menu-main .current-menu-item a,
#menu-main a:hover, 
#menu-main a:active {
	color: #c6eff7;
} 

#menu-main .current-menu-item li a {
	color: #aaa;
}

#menu-main li {
	border-bottom-color: #1eb8d4;
}

#menu-main a {
	color: #fff;
}

#menu-main .dropdown li:hover ul,
#menu-main .dropdown .sfHover ul {
	border-top-color: #00849c;
}

#menu-main .dropdown li:hover li ul,
#menu-main .dropdown .sfHover li ul {
	border-top-color: #00849c;
}

div.navigation .current { background-color: #1a9fb7; }
div.navigation a:hover {
	background-color: #1a9fb7; 
	color: #fff;
}

/* Footer Contact Info */

#content div.wrapper {
	border-bottom-color: #1a9fb7;
}

.wrapper-footer-contacts {
	background: #00a8c6 url(../images/back-menu-blue2.png) repeat-x top left;
}

.footer-additional a {
	color: #c6eff7;
}

.footer-additional a:hover {
	color: #fff;
}

#menu-main .toggle_mobile_menu { 
	background: transparent url(../images/icon-lines-blue2.png) no-repeat top left; 
}

/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {

	#menu-main .current-menu-item li a {
		color: #fff;
	}
}