/* Main Menu */
#sshow{margin-top: -1px;position: relative;margin-top:-20px;}
.flexslider .hermes-slides {top:-60px;position: absolute;width: 100%;}
#clickable  {margin-top:30px;}
#content div.wrapper{margin-top:-80px;}