.code {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.wrap {
	color:#505050;
}
.wrap h2 {
	color:#535353;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
}
.gw_option label, #headerimg_div label {
	padding-right:4px; 
	width:370px; 
	text-align:right; 
	display:block; 
	float:left; 
	clear:left;
	padding-top:4px;
	font-weight:bold;
}

.gw_option label span, #headerimg_div label span {
	font-weight:normal;
}

.gw_option input, #headerimg_div input {
	width:300px;
	border:1px solid #ccc;
	padding:2px 3px;
}

#wpwrap #poststuff .centerme {
	font-size:13px;
	height:30px;
}
.gw_option p {
	height:40px;
	clear:both;
}
.displaynone {
	display:none;
}
#wpwrap #frontpage-blank {
	width:auto;
	border:none;
	padding:none;
	margin:6px 0 0 0;
}
