.zlide{left:0px;position:relative;margin-top:-25px}.zlide_more{margin:175px 0 0 -215px}.zlide_more{}

#content3b_fold {position: relative!important;z-index: 1!important;margin-top: -828px;}

.p_square{top:85px;left:10px;}
.bucket_but_forie{width: 200px;}
.bucket_but{position:absolute;   width:200px;  height:60px;  background-image:url(./images/butbg.png);z-index:100;}
